.pop-up-login-form {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 25%;
    /* height: auto; */
    background-color: rgb(52, 52, 52, 0.6);
}

.login_body {
    padding: 20px;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    justify-content: center;
    /* width: fit-content; */
    /* align-items: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.login_body>h2 {
    font-size: 30px;
}